<div class="footer-top-area" th:fragment="footert">
            <div class="container">
                <div class="row" >
                    <div class="col-lg-3 col-md-6" >
                        <div class="footer-contact">
                            <img src="img/logo-white.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                            <ul class="address">
                                <li>
                                    <span class="fa fa-fax"></span>
                                    (800) 123 456 789
                                </li>
                                <li>
                                    <span class="fa fa-phone"></span>
                                    (800) 123 456 789
                                </li>
                                <li>
                                    <span class="fa fa-envelope-o"></span>
                                    admin@bootexperts.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" >
                        <div class="footer-tweets">
                            <div class="footer-title">
                                <h3>Latest tweets</h3>
                            </div>
                            <div class="twitter-feed">
                                <div class="twitter-article">
                                    <div class="twitter-img">
                                       
                                            <img src="img/twitter/twitter-1.png" alt="">
                                     
                                    </div>
                                    <div class="twitter-text">
                                        <p>Raboda Fashion #Magento #Theme comes up with pure white and grey, which great show your products. Check it: </p>
                                     
                                        <div class="twitter-time">
                                            16h
                                        </div>
                                    </div>
                                </div>
                                <div class="twitter-article">
                                    <div class="twitter-img">
                                       
                                            <img src="img/twitter/twitter-1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="twitter-text">
                                        <p>Raboda Fashion #Magento #Theme comes up with pure white and grey, which great show your products. Check it: </p>
                                       
                                        <div class="twitter-time">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 " >
                        <div class="footer-support">
                            <div class="footer-title">
                                <h3>Our support</h3>
                            </div>
                            <div class="footer-menu">
                                <ul>
                                    <li>Sitemap</li>
                                    <li>Privacy Policy</li>
                                    <li>Your Account</a></li>
                                    <li>Advanced Search</li>
                                    <li>Contact Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6"  >
                        <div class="footer-info">
                            <div class="footer-title">
                                <h3>Our information</h3>
                            </div>
                            <div class="footer-menu">
                                <ul>
                                    <li>About Us</li>
                                    <li>Customer Service</li>
                                    <li>Privacy Policy</li>
                                    <li>Orders and Returns</li>
                                    <li>Site Map</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>