 <!-- footer area start -->
        <footer class="footer-area" th:fragment="footera">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-copyright">
                            <p>Copyright &copy; 2022. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-icon">
                            <img src="img/payment.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
          
        </footer>