<div class="newsleter-area" th:fragment="newsleter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="newsleter">
                            <h3>newsletter</h3>
                            <p>Subscribe to the james mailing list to receive updates on new arrivals, special offers and other discount information.</p>
                            <div class="Subscribe">
                                <form action="#">
                                    <input type="text" title="Sign up">
                                    <button type="submit" title="Subscribe">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="follow">
                            <h3>follow</h3>
                            <p>Subscribe to the james mailing list to receive updates on new arrivals, special offers and other discount information.</p>
                            <ul class="follow-link">
                                <li> <i class="fa fa-facebook"></i> </li>
                                <li> <i class="fa fa-rss"></i> </li>
                                <li> <i class="fa fa-twitter"></i> </li>
                                <li> <i class="fa fa-google-plus"></i> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>