<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/home.html}">
<div class="main-content" layout:fragment="content">
	<!-- main-content-wrap -->
	<div class="main-content-inner">
		<!-- main-content-wrap -->
		<div class="main-content-wrap">
			<div class="flex items-center flex-wrap justify-between gap20 mb-27">
				<h3>All category</h3>
				<ul
					class="breadcrumbs flex items-center flex-wrap justify-start gap10">
					<li>
						<!--   <a href="index.html"><div class="text-tiny">Dashboard</div></a> -->
					</li>
					<li><i class="icon-chevron-right"></i></li>
					<li>
						<div class="text-tiny">Category</div>
					</li>
					<li><i class="icon-chevron-right"></i></li>
					<li>
						<div class="text-tiny">All category</div>
					</li>
				</ul>
			</div>
			<!-- all-category -->
			<div class="flex gap30">
				<div class="wg-box">

					<div class="flex items-center justify-between gap10 flex-wrap">
						<div class="wg-filter flex-grow">
							<div class="show">
								<div class="text-tiny">Showing</div>
								<div class="select">
									<select class="">
										<option>10</option>
										<option>20</option>
										<option>30</option>
									</select>
								</div>
								<div class="text-tiny">entries</div>
							</div>
							<form class="form-search">
								<fieldset class="name">
									<input type="text" placeholder="Search here..." class=""
										name="name" tabindex="2" value="" aria-required="true"
										required="">
								</fieldset>
								<div class="button-submit">
									<button class="" type="submit">
										<i class="icon-search"></i>
									</button>
								</div>
							</form>
						</div>

					</div>

					<div class="wg-table table-all-category">
						<ul class="table-title flex gap20 ">
							<li style="width: 15%;">
								<div class="body-title">STT</div>
							</li>
							<li style="width: 30%;">
								<div class="body-title">Category_ID</div>
							</li>
							<li style="width: 35%;">
								<div class="body-title">Category_Name</div>
							</li>
							<li style="width: 20%;">
								<div class="body-title">Action</div>
							</li>
						</ul>
						<div>
							<ul class="flex flex-column" th:each="cate : ${categories}">
								<li class="product-item gap20 ">
									<div class="name" style="width: 15%;">
										<p th:text="${cate.id}"></p>
									</div>
									<div class="flex items-center justify-between flex-grow"
										style="width: 85%;">
										<div class="name" style="width: 30%;">
											<p th:text="${cate.categoryId}"></p>
										</div>
										<div class="name" style="width: 30%;">
											<p th:text="${cate.categoryName}"></p>
										</div>
										<div class="list-icon-function" style="width: 25%;">
											<div class="item edit">
												<i class="icon-edit-3"></i>
											</div>
											<div class="item trash">
												<i class="icon-trash-2"></i>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</div>
					<div class="divider"></div>
					<div class="flex items-center justify-between flex-wrap gap10">
						<div class="text-tiny">Showing 10 entries</div>
						<ul class="wg-pagination">
							<li>
								<!--  <a href="#"><i class="icon-chevron-left"></i></a> -->
							</li>
							<li>
								<!--   <a href="#">1</a> -->
							</li>
							<li class="active">
								<!--   <a href="#">2</a> -->
							</li>
							<li>
								<!-- <a href="#">3</a> -->
							</li>
							<li>
								<!--  <a href="#"><i class="icon-chevron-right"></i></a> -->
							</li>
						</ul>
					</div>

				</div>
				<div>
					<form class="form-add-product" th:action="@{/admin/categories/add}"
						method="POST" th:object="${category}">
						<div class="wg-box">
							<!-- Category Name -->
							<fieldset class="category-name">
								<div class="body-title mb-10">
									Category Name <span class="tf-color-1">*</span>
								</div>
								<input class="mb-10" type="text"
									placeholder="Enter category name" name="categoryName"
									tabindex="0" value="" aria-required="true" required>
								<div class="text-tiny">Do not exceed 20 characters for the
									category name.</div>
							</fieldset>

							<!-- Category ID -->
							<fieldset class="category-id">
								<div class="body-title mb-10">
									Category ID <span class="tf-color-1">*</span>
								</div>
								<input class="mb-10" type="text" placeholder="Enter category ID"
									name="categoryId" tabindex="1" value="" aria-required="true"
									required>
							</fieldset>

							<!-- Status Checkbox -->
							<fieldset class="status">
								<div class="body-title mb-10">
									Status <span class="tf-color-1">*</span>
								</div>
								<label> <input type="checkbox" name="status"
									value="active"> Active
								</label>
							</fieldset>
							<div class="">
								<button class="tf-button w-full" type="submit">Add
									product</button>
							</div>

							<div th:if="${successMessage}" class="alert alert-success">
								<p th:text="${successMessage}"></p>
							</div>
						</div>
					</form>
				</div>
			</div>

			<!-- /all-category -->
		</div>
		<!-- /main-content-wrap -->
	</div>
	<!-- /main-content-wrap -->

</div>