<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">


<meta name="author" content="themesflat.com">


<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Theme Style -->
<link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/animation.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-select.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">



<!-- Font -->
<link rel="stylesheet" th:href="@{/font/fonts.css}">

<!-- Icon -->
<link rel="stylesheet" th:href="@{/icon/style.css}">

<!-- Favicon and Touch Icons  -->
<link rel="shortcut icon" th:href="@{/images/favicon.png}">
<link rel="apple-touch-icon-precomposed"
	th:href="@{/images/favicon.png}">

</head>
<body>
	<!-- #wrapper -->
	<div id="wrapper">
		<!-- #page -->
		<div id="page" class="">
			<!-- layout-wrap -->
			<div class="layout-wrap">
				<!-- preload -->
				<div id="preload" class="preload-container">
					<div class="preloading">
						<span></span>
					</div>
				</div>
				<!-- /preload -->
				<!-- section-menu-left -->
				<section>
					<div th:replace="~{admin/fragments/section-left::section-left}"></div>
				</section>

				<!-- /section-menu-left -->
				<!-- section-content-right -->
				<div class="section-content-right">
					<!-- header-dashboard -->
					<header>
						<div
							th:replace="~{admin/fragments/header-dashboard::header-dashboard}"></div>
					</header>
					<!-- /header-dashboard -->
					<!-- main-content -->
					<div class="container">
						<div layout:fragment="content"></div>
						<!-- /main-content -->
					</div>
					<!-- /section-content-right -->
				</div>
				<!-- /layout-wrap -->
			</div>
			<!-- /#page -->
		</div>
	</div>
	<!-- /#wrapper -->

	<!-- Javascript -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/zoom.js"></script>
	<script src="/js/apexcharts/apexcharts.js"></script>
	<script src="/js/apexcharts/line-chart-1.js"></script>
	<script src="/js/apexcharts/line-chart-2.js"></script>
	<script src="/js/apexcharts/line-chart-3.js"></script>
	<script src="/js/apexcharts/line-chart-4.js"></script>
	<script src="/js/apexcharts/line-chart-5.js"></script>
	<script src="/js/apexcharts/line-chart-6.js"></script>
	<script src="/js/switcher.js"></script>
	<script src="/js/theme-settings.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>